<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ssh_user %><br />
    <%= f.text_field :ssh_user %>
  </div>
  <div class="field">
    <%= f.label :web_server %><br />
    <%= f.text_field :web_server %>
  </div>
  <div class="field">
    <%= f.label :sites_path %><br />
    <%= f.text_field :sites_path %>
  </div>
  <div class="field">
    <%= f.label :use_sudo %><br />
    <%= f.check_box :use_sudo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
