%h1 Servers
%table
  %tr
    %th Name
    %th Hostname
    %th Ip
    %th Ssh user
    %th Web server
    %th Sites path
    %th Use sudo
    %th 
    %th
    %th
    %th
  - @servers.each do |server|
    %tr
      %td= server.name
      %td= server.hostname
      %td= server.ip
      %td= server.ssh_user
      %td= server.web_server
      %td= server.sites_path
      %td= server.use_sudo
      %td= link_to 'df Output', df_server_path(server)
      %td= link_to 'Show', server
      %td= link_to 'Edit', edit_server_path(server)
      %td= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Server', new_server_path